.personal-dashboard__task {
  padding: 1em;
  color: $dark-blue;
  overflow-y: auto;
  .assigned-to-me__header {
    height: 2.5em;
    background-color: $light-gray-purple;
    border-radius: radius(medium);
    padding-left: 0.5em;
    @include flex(row, flex-start);
    &__task-name {
      width: 50%;
      @include flex(row, flex-start);
    }
    &__due-date {
      width: 25%;
      @include flex;
    }
    &__status {
      width: 25%;
      @include flex;
    }
  }

  .assigned-to-me__task {
    @extend .assigned-to-me__header;
    background-color: lighten($light-gray-purple, 60);
    margin: 10px 0;
    border-radius: radius(medium);
    &__task-name {
      width: 50%;
      @include flex(row, flex-start);
    }
    &__due-date {
      width: 25%;
      @include flex;
    }
    &__status {
      width: 25%;
      @include flex;
    }
  }
}
