.personal-dashboard__progress {
  padding: 10px 0;
  @include flex(column, flex-start);
  p {
    margin: 10px 0;
  }
  .doughnut-chart {
    position: relative;
    .percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include writing-style($purple, extra-large, thin);
    }
  }
  .remaining-tasks-percentage {
    color: $gray-purple;
  }
}
