.personal-dashboard__header {
  @include flex(column, flex-start, flex-start);
  &__time {
    color: $gray-purple;
    span {
      color: $purple;
    }
  }
  &__info {
    background-color: $gray;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    border-radius: radius(large);
    @include flex;
    .info__image {
      width: 50%;
      height: 100%;
    }
    .info__text {
      width: 50%;
      height: 100%;
      padding: 2em;
      @include flex(column, center, flex-start);
      h1 {
        @include writing-style($dark-blue, extra-large, extra-thin);
        span {
          @include writing-style($dark-blue, extra-large, regular);
        }
      }
      p {
        margin: 5px 0;
      }
    }
  }
}
