.archive {
  h1 {
    text-align: center;
    @include writing-style(0, large, bold);
  }
  margin-top: 3rem;
  span {
    color: $purple;
  }
  &__text {
    margin-top: 2rem;
    background-color: $gray;
    padding: 1.75rem;
    @include flex(0, flex-start, flex-start);
    &__sprint {
      h2 {
        color: $purple;
      }
      background-color: $light-gray-purple;
      margin: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      //   &:hover {
      //     background-color: $light-gray;
      //   }
    }
  }
}
