.backlog-section {
  margin: 15px auto 1rem auto;
  width: 95%;
  h2 {
    color: $purple;
    font-weight: 500;
    span {
      color: $gray-purple;
    }
  }
  button {
    @include button;
  }
  h1 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: $dark-blue;
  }
  .sprint-section {
    overflow-x: auto;
    background-color: $gray;
    border-radius: 0.5em;
    &__inner {
      padding: 1em;
      min-width: 420px;
    }
    &__top {
      @include flex(row, space-between);
      button.edit-btn {
        background-color: $light-gray-purple;
        color: $gray-purple;
        &:focus {
          box-shadow: 0 0 1px 3px $gray-purple;
        }
        margin-left: 10px;
      }
    }
    h3 {
      text-align: center;
      color: $gray-purple;
    }
    .task-name {
      color: $dark-blue;
      font-size: 1.5rem;
      font-weight: 500;
      span {
        margin-left: 8px;
        color: $dark-blue;
      }
    }
    .single-task {
      padding: 0.8rem;
      background-color: $light-gray;
      margin: 0.5rem 0;
      border-radius: 0.5rem;
      @include flex(row, space-between);
      .assigned-section {
        @include flex;
        .task-status {
          margin-bottom: 0;
        }
        .assigned-img {
          border-radius: 50%;
          height: 40px;
          width: 40px;
          margin-left: 8px;
          cursor: pointer;
        }
        .assigned-name {
          margin-left: 8px;
        }
      }
    }
  }
  .create-sprint-button {
    margin-top: 10px;
  }
}

.create-sprint-form {
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  input {
    @include input;
    background-color: #d2d4d8;
    &:focus {
      box-shadow: 0 0 1px 2px #6161ff;
    }
  }
  label {
    font-size: 18px;
    margin: 0 8px;
    display: inline-block;
    span {
      color: $gray-purple;
      font-size: $fs-xs;
    }
  }
  button[type="submit"] {
    @include button;
    width: 100%;
  }
  .add-btn {
    margin-top: 50px;
    @include button($gray-purple, $gray);
    cursor: pointer;
    height: 42px;
  }
  .goal {
    display: flex;
    align-items: center;
  }
  .basic-multi-select {
    margin: 10px 0;
    .css-1pahdxg-control,
    .css-yk16xz-control {
      background-color: #d2d4d8;
    }
    .css-1rhbuit-multiValue,
    .css-1okebmr-indicatorSeparator {
      background-color: #bebebe;
    }
    .css-tj5bde-Svg {
      fill: #818181;
    }
    .css-1pahdxg-control {
      .css-tj5bde-Svg {
        fill: #3f3f3f;
      }
    }
    input {
      box-shadow: none;
    }
  }
}

.close-btn {
  @include button($gray, $red);
  margin-left: auto;
  display: block;
}

.ReactModal__Content {
  animation: modalAnimation 0.3s ease-in-out;
}

@keyframes modalAnimation {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

@media (max-width: 620px) {
  .backlog-section {
    .sprint-section {
      &__inner {
        padding: 0.8em;
      }
      &__top {
        @include flex(column, space-between);
        button {
          margin-top: 10px;
        }
      }
      .task-name {
        font-size: 1.3rem;
      }
    }
  }
}
