.chat-portal {
  height: 100vh;
  width: 100%;
  padding: 10px 10px 10px 0;
  @include flex(column, flex-start, stretch);
  &__header {
    height: 60px;
    width: 100%;
    background-color: $gray;
    border-radius: radius(large);
  }

  &__body {
    padding-top: 10px;
    height: 100%;
    @include flex;
    .channel {
      background-color: $gray;
      width: 20%;
      height: 100%;
      border-radius: radius(large);
    }
    .chat-body {
      @extend .channel;
      margin: 0 10px;
      width: 60%;
    }
    .members {
      @extend .channel;
    }
  }
}
