.chat-portal {
  height: 100vh;
  width: 100%;
  padding: 10px 10px 10px 0;
  @include flex(column, flex-start, stretch);
  &__header {
    height: 60px;
    width: 100%;
    background-color: $gray;
    border-radius: radius(large);
    @include flex;
    .indicator-container {
      width: 20%;
      height: 100%;
      padding: 0 10px;
      border-radius: radius(large);
      @include flex(row, flex-start, center);
      .indicator {
        font-size: 1rem;
        color: $gray-purple;
        span {
          color: $purple;
        }
      }
    }
    .options-container {
      @extend .indicator-container;
      width: 60%;
      background-color: green;
      @include flex(row, flex-end, center);
      .options-icon {
        margin-left: 10px;
        transform: translateY(2px);
      }
      .channel-name {
        margin-left: 12px;
        h2 {
          @include writing-style($dark-blue, semi-large, regular);
        }
      }
    }
    .search-container {
      @extend .indicator-container;
      background-color: yellow;
      width: 20%;
    }
  }

  &__body {
    padding-top: 10px;
    height: 100%;
    @include flex;
    .channel {
      background-color: $gray;
      width: 20%;
      height: 100%;
      border-radius: radius(large);
    }
    .chat-body {
      @extend .channel;
      margin: 0 10px;
      width: 60%;
    }
    .members {
      @extend .channel;
    }
  }
}
