@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

$s-ff: "Rubik", sans-serif;
$fs-xs: 0.8rem; /* font size extra small */
$fs-s: 1rem; /* font size small */
$fs-m: 1.2rem; /* font size medium */
$fs-l: 2rem; /* font size large */
$fs-xl: 3rem; /* font size extra-large */
$fs-xxl: 3.5rem; /* font size extra-large */
