@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@function radius($size) {
  $border-radius: (
    "small": 5px,
    "medium": 10px,
    "large": 15px,
  );
  @return map-get($border-radius, $size);
}

.gear {
  height: 85vh;
  width: 100%;
  @include flex(column);
  h1 {
    margin-top: 1em;
    font-family: $s-ff;
    color: $dark-blue;
  }
}
