.chat-portal__header {
  height: 60px;
  width: 100%;
  background-color: $gray;
  border-radius: radius(large);
  @include flex;
  .indicator-container {
    height: 100%;
    padding: 0 10px;
    border-radius: radius(large);
    @include flex(row, flex-start, center);
    .indicator {
      min-width: 210px;
      font-size: 1rem;
      color: $gray-purple;
      span {
        color: $purple;
      }
    }
  }
  .options-container {
    .options-right {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .options-icons {
      display: flex;
      height: 100%;
      align-items: center;
    }
    @extend .indicator-container;
    width: 100%;
    @include flex(row, flex-end, center);
    .channel-name {
      margin-right: auto;
      h2 {
        @include writing-style($dark-blue, semi-large, regular);
      }
    }
    .options-icon {
      margin-left: 10px;
      transform: translateY(2px);
      cursor: pointer;
    }
  }
  .search-container {
    @extend .indicator-container;
    padding: 10px;
    .search-box {
      @include flex;
      background-color: $light-gray-purple;
      height: 100%;
      min-height: 40px;
      width: 100%;
      min-width: 200px;
      border-radius: radius(medium);
      label {
        padding-left: 5px;
      }
      input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: $dark-blue;
        padding: 5px;
        font-size: 1rem;
      }
    }
  }
}

.chat-dropdown {
  position: relative;
  right: 55px;
  z-index: 1000;
  display: none;
  top: 3px;
  .dropdown {
    background-color: #d7dae0;
  }
}

@media (max-width: 500px) {
  .chat-portal__header {
    .indicator-container {
      .indicator {
        min-width: 80px;
      }
    }
  }
}
