.chat-portal__header {
  height: 60px;
  width: 100%;
  background-color: $gray;
  border-radius: radius(large);
  @include flex;
  .indicator-container {
    width: 20%;
    height: 100%;
    padding: 0 10px;
    border-radius: radius(large);
    @include flex(row, flex-start, center);
    .indicator {
      font-size: 1rem;
      color: $gray-purple;
      span {
        color: $purple;
      }
    }
  }
  .options-container {
    @extend .indicator-container;
    width: 60%;
    @include flex(row, flex-end, center);
    .channel-name {
      margin-right: auto;
      h2 {
        @include writing-style($dark-blue, semi-large, regular);
      }
    }
    .options-icon {
      margin-left: 10px;
      transform: translateY(2px);
      cursor: pointer;
    }
  }
  .search-container {
    @extend .indicator-container;
    background-color: yellow;
    padding: 10px;
    .search-box {
      @include flex;
      background-color: $light-gray-purple;
      height: 100%;
      input {
        border: none;
        outline: none;
        // background-color: transparent;
        height: 100%;
      }
    }
  }
}
