@import "./chat-header";
@import "./chat-channel";

.chat-portal {
  height: 100vh;
  width: 100%;
  padding: 10px 10px 10px 0;
  @include flex(column, flex-start, stretch);

  &__body {
    padding-top: 10px;
    @include flex;
    .chat-body {
      @extend .chat-channel;
      height: 91vh;
      ::-webkit-scrollbar {
        max-width: 8px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #bbbbbb;
        border-radius: 3px;
      }
      margin: 0 10px;
      width: 60%;
      @include flex(column, flex-end);
      .type-box {
        width: 100%;
        border-radius: radius(medium);
        background-color: $light-gray-purple;
        padding: 13px 10px;
        @include flex(row, space-between, center);
        input {
          height: 100%;
          width: 100%;
          font-size: 1.2rem;
          margin-right: 10px;
          border: none;
          outline: none;
          background-color: transparent;
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          margin-top: 3px;
        }
      }
      .messages {
        overflow-y: scroll;
        width: 100%;
        margin-bottom: 10px;
        img {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          cursor: pointer;
          margin-right: 8px;
        }
        @mixin message {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-top: 8px;
        }
        .message-right {
          @include message;
          text-align: end;
          img {
            margin-left: 8px;
          }
        }
        .message-left {
          @include message;
          flex-direction: row-reverse;
        }
        .main-message {
          background-color: $light-gray-purple;
          padding: 0.5em;
          border-radius: 8px;
          small {
            font-weight: 500;
          }
          p {
            font-size: 1.1rem;
            margin-bottom: 4px;
          }
        }
      }
    }
    .members {
      @extend .chat-channel;
      @include flex(column, flex-start, flex-start);
      &__online {
        width: 100%;
        margin-bottom: 15px;
      }
      &__offline {
        @extend .members__online;
        .chat-member {
          opacity: 0.5;
        }
      }
      h3 {
        margin-bottom: 5px;
      }
    }
    .chat-member {
      padding: 5px;
      border-radius: radius(small);
      transition: all 300ms ease-in-out;
      cursor: pointer;
      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
      p {
        margin-left: 10px;
      }
      &:hover {
        background-color: $light-gray-purple;
      }
      &.active-channel {
        background-color: #c5c8d6;
      }
      @include flex(row, flex-start, center);
    }
  }
}
