#profile-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 6% 6% 0 0;
  padding: 4rem 1rem;
  border-radius: 0.4rem;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  .profile-left #image {
    border-radius: 50%;
  }

  .profile-button {
    border: none;
    padding: 10px;
    background-color: #4a4fff;
    color: white;
    border-radius: 5px;
    margin-right: 70px;
    cursor: pointer;
  }
}

.profile-img {
  input[type="file"] {
    display: none;
  }
  .custom-file-input {
    color: black;
    display: inline-block;
    background: linear-gradient(#f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.img-form {
  margin-bottom: 1.5rem;
}
.img-button {
  border: 1px solid #4a4fff;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  background-color: #4a4fff !important;
  color: white;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
}
.img-disable-button {
  border: 1px solid $gray-purple;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  font-weight: 700;
  font-size: 10pt;
  background-color: $gray-purple !important;
  color: white;
  margin-left: 2px;
  display: inline-block;
}

@media (max-width:650px){
  #profile-body {
margin: 1rem;
padding: 1rem;
  }
}