.select {
  background-color: #d0d1d8;
  padding: 0.6rem 1rem;
  border: 0.02rem solid #d0d1d8;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin: 0.5rem 0;
  resize: vertical;
}

.btn {
  background-color: #4a4fff;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.delete-icon {
  font-size: 1.4rem;
  &:hover {
    color: red;
  }
}

.d-container {
  width: 100%;
  .d-row {
    display: flex;
    flex-wrap: wrap;
    .col-left {
      width: 10%;
    }
    .col-right {
      width: 90%;
      margin: 3rem 0 0 7rem;
      .right-division {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .button,
        select {
          @extend .btn;
          width: 60%;
          margin-left: 5px;
          margin-top: 5px;
          &:hover {
            background-color: $gray-purple !important;
          }
        }
        .disable-button {
          background-color: $gray-purple !important;
          color: white;
          padding: 0.6rem 1rem;
          border: none;
          border-radius: 0.5rem;
        }
      }
      .admin-button {
        border: none;
        padding: 10px;
        background-color: #4a4fff;
        color: white;
        border-radius: 5px;
        margin-right: 70px;
        cursor: pointer;
        &:hover {
          background-color: $gray-purple;
        }
      }
      table {
        border-collapse: collapse;
        width: 95%;
        margin-top: 5%;
        tr {
          height: 45px;
          text-align: center;
          background-color: $gray;
          cursor: pointer;
          &:hover {
            background-color: $light-gray-purple;
          }
          th {
            background-color: #75798c;
            color: white;
          }
        }
      }
    }
  }
}
.delete-confirm {
  .text {
    text-align: center;
    h2 {
      margin-bottom: 0.5rem;
    }
    p {
      color: gray;
    }
  }
  #button-group {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }
  .cancel-button {
    @extend .btn;
    background-color: rgb(163, 161, 161);
    margin-right: 0.4rem;
    font-size: 1rem;
  }
  .delete-button {
    @extend .btn;
    background-color: #f15e5e;
    margin-left: 0.4rem;
    font-size: 1rem;
  }
}

.react-responsive-modal-modal {
  background: #fefcfc !important;
  border-radius: 5px;
  width: 24rem;
}
.admin-info {
  padding: 2rem;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  input,
  select {
    @extend .select;
    width: 100%;
  }

  .button {
    @extend .btn;
  }
}

@media (max-width: 575px) {
  .col-right {
    margin: 3rem 0 0 6rem !important;
  }
}

// error message

.error-container {
  .error-body {
    text-align: center;
    border: 2px solid red;
    padding: 3rem;
    width: 30rem;
    margin: 10% auto;
    border-radius: 0.4rem;
    h1 {
      margin-top: 0.3rem;
    }
    h3 {
      margin-top: 0.3rem;
    }
    p {
      margin: 0.3rem 0;
      color: #6c757d;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
