.faq {
  height: 80vh;
  width: 100%;
  @include flex;
  &__banner {
    width: 50%;
    padding: 1em;
  }
  &__cards-container {
    width: 50%;
    height: 100%;
    @include flex(column);
    .faq-card {
      position: relative;
      &__question {
        width: 500px;
        background-color: $light-gray-purple;
        margin-bottom: 0.5em;
        padding: 0.5em;
        border-radius: radius(small);
        cursor: pointer;
        h2 {
          color: $dark-blue;
        }
      }

      &__answer {
        width: 80%;
        height: 80%;
        background-color: $purple;
        margin-bottom: 0.5em;
        padding: 0.5em;
        border-radius: radius(small);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        p {
          color: $white;
        }
      }
    }
  }
}
