.container {
  position: relative;
  margin-top: 10rem;
  width: 100%;
  background-color: $gray;
  z-index: 1;
  .row {
    padding: 1.8rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    h4 {
      color: #4a4fff;
      margin-bottom: 0.5rem;
    }
    .icons {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      color: $purple;
    }
    p {
      color: black;
      font-size: 1rem;
      padding: 0.4rem 0;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .footer-sign-up {
    text-align: center;
    position: relative;
    z-index: 2;
    input {
      background-color: $light-gray-purple;
      padding: 0.4rem;
      margin-top: 0.5rem;
      border-radius: 5px;
      border: 0;
    }
    button {
      padding: 0.25rem 0.5rem;
      border: 0;
      margin-left: 0.2rem;
    }
  }
  .footer-bottom {
    text-align: center;
    padding: 1.5rem;
    p {
      color: #75798c;
    }
  }
}

.footer-purple-ball {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: rotate(-90deg);
  &::after {
    content: url("../public/images/purple-ball.svg");
    height: 150px;
    width: 150px;
  }
}

.footer-purple-dots {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -60px;
  left: -30px;
  &::after {
    content: url("../public/images/purple-dots.svg");
    height: 150px;
    width: 150px;
    position: absolute;
    left: 0;
  }
}
