.home-section {
  overflow: hidden;
  width: 100%;
  margin-top: 5rem;
  position: relative;
}
.banner {
  padding: 4rem;
  margin: 2rem;
  @include flex(row, space-between);
  span {
    color: $purple;
  }
  &__text {
    margin-left: 0.5em;
    h1 {
      font-size: $fs-l;
      font-family: $s-ff;
      text-transform: uppercase;
      margin: 1rem 0 2rem 0;
    }
    h4 {
      font-size: $fs-m;
      color: $gray-purple;
    }
  }
  &__image {
    width: 60%;
  }
}
.chat {
  @extend .banner;
}
.act {
  @include flex();
  &__body {
    background-image: url(../public/images/cta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
