.home-section {
  overflow: hidden;
  width: 100%;
  margin-top: 5rem;
  // position: relative;
}

@import "./FAQ";

//Banner-Section

.banner {
  padding: 4rem;
  margin: 2rem 2rem 10rem 2rem;
  @include flex(row, space-around, stretch);
  span {
    color: $purple;
  }
  &__text {
    @include flex(column, space-evenly, auto);
    h1 {
      font-family: $s-ff;
      @include writing-style($dark-blue, extra-large, medium);
      text-transform: uppercase;
      margin: 1rem 0 2rem 0;
    }
    h4 {
      font-size: $fs-m;
      color: $gray-purple;
    }
    button {
      width: 50%;
    }
    &__key {
      padding: 1.5rem 6rem 0 0;
      @include flex(row, space-between);
      h4 {
        @include writing-style($dark-blue, medium, medium);
      }
      &__icon {
        color: $purple;
      }
    }
  }

  &__image {
    overflow: hidden;
    width: 50%;
  }
}
//partner
.partner {
  margin-bottom: 5rem;
  color: $dark-blue;
  text-align: center;
  @include flex(column);
  background-image: url(../public/images/bg__with-dotted.svg);
  background-repeat: no-repeat;
  background-position: center;
  &__image {
    padding: 1.5rem;
    // flex-wrap: wrap;
    // @include flex(column, space-between);
    &__logo {
      @include flex();
      flex-wrap: wrap;
      img {
        padding: 2.2rem;
        width: 10rem;
        height: auto;
      }
    }
  }
}
//Features-Section

.features {
  margin-bottom: 10rem;
  @include flex(column);
  &__text {
    // height: 4rem;
    width: 70%;
    @include flex(column, space-between, center);
    text-align: center;
    h1 {
      font-size: $fs-l;
      color: $dark-blue;
    }
    h4 {
      margin-top: 2rem;
      color: $dark-blue;
    }
    span {
      color: $purple;
    }
  }
  &__image {
    overflow: hidden;
    margin: 5rem;
    width: 60%;
  }
}
//Board or Chat Section

.chat {
  margin: 2rem 2rem 12rem 2rem;
  @include flex(row, space-around, stretch);
  span {
    color: $purple;
  }
  &__text {
    width: 80%;
    padding: 2rem;
    @include flex(column, center, flex-start);
    h4 {
      color: $purple;
    }
    h2 {
      color: $dark-blue;
    }
    p {
      color: $gray-purple;
    }
  }
  &__image {
    overflow: hidden;
    width: 100%;
  }
}
//Dashboard section

.dashboard {
  margin: 2rem 2rem 6rem 2rem;
  @include flex(row, space-around, stretch);
  span {
    color: $purple;
  }
  &__text {
    width: 60%;
    padding: 2rem;
    @include flex(column, center, flex-start);
    h4 {
      color: $purple;
    }
    h2 {
      color: $dark-blue;
    }
    p {
      color: $gray-purple;
    }
  }
  &__image {
    width: 100%;
  }
}
//Testimonial
.testimonial {
  text-align: center;
  h1 {
    font-size: $fs-l;
    color: $dark-blue;
  }
  span {
    color: $purple;
  }
  &__container {
    position: relative;
    &__card {
      border-radius: 10px;
      box-sizing: border-box;
      text-align: center;
      img {
        width: 8rem;
        border-radius: 50%;
        border: 5px solid white;
      }
      h4 {
        color: $purple;
      }
      p {
        color: $dark-blue;
      }
    }
  }
}

// Contact form
.contact-container {
  border-radius: 0.5rem;
  background-color: #e6e8ea;
  padding: 2.5rem;
  width: 28rem;
  margin: 10rem auto;
  box-sizing: border-box;

  h2 {
    color: $dark-blue;
    text-align: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  label {
    color: $dark-blue;
  }
  input,
  textarea {
    background-color: #d0d1d8;
    width: 100%;
    padding: 0.6rem 1.5rem !important;
    border: none;
    border-radius: 0.4rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
    resize: vertical;
  }

  .button {
    background-color: #4a4fff !important;
    color: white;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $gray-purple !important;
    }
  }
  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    h2 {
      color: #4a4fff;
    }
    input,
    textarea {
      background-color: rgb(152, 161, 224, 0.4);
    }
  }
}

// Responsive Layout for Ipad

@media (max-width: 1080px) {
  .banner {
    padding: 0rem;
    margin: 1rem;
    @include flex(column, center);
    &__text {
      @include flex(column, center, flex-start);
      h1 {
        font-size: $fs-l;
      }
    }

    &__image {
      width: 100%;
    }
  }
  //Features-Section

  .features {
    margin: 3rem;

    @include flex(column);
    &__text {
      width: 100%;
      margin: 1rem, 0;
      @include flex(column);
      h1 {
        font-size: 1.5rem;
      }
      h4 {
        margin-top: 1.55rem;
        font-size: $fs-s;
      }
    }
    &__image {
      width: 100%;
      margin: 3rem 0 0 0;
    }
  }
  //Board or Chat Section

  .chat {
    margin: 1rem;
    @include flex(column-reverse);
    &__text {
      width: 100%;
      @include flex(column, flex-start, flex-start);
    }
  }
  //Dashboard section

  .dashboard {
    margin: 1rem;
    @include flex(column);
    &__text {
      width: 100%;
      @include flex(column, flex-start, flex-start);
    }
  }
}

// Responsive Layout for mobile
@media screen and (max-width: 600px) {
  .banner {
    padding: 0rem;
    margin: 1rem;
    @include flex(column, center);
    &__text {
      @include flex(column, center, center);
      h1 {
        font-size: 1.75rem;
      }
      h4 {
        text-align: center;
      }
      &__key {
        padding: 1rem 1rem 0 1rem;
      }
    }

    &__image {
      width: 100%;
    }
  }
  //partner section
  .partner {
    margin-top: 3rem;
  }
  //Features-Section

  .features {
    margin: 1.5rem;
    @include flex(column);
    &__text {
      margin: 2rem, 0;
      @include flex(column);
      h1 {
        font-size: 1.5rem;
      }
      h4 {
        margin-top: 0.75rem;
        font-size: $fs-s;
      }
    }
    &__image {
      width: 100%;
      margin: 3rem 0 0 0;
    }
  }
  //Board or Chat Section

  .chat {
    margin: 1.5rem;
    @include flex(column-reverse);
    &__text {
      width: 100%;
      padding: 0;
      text-align: center;
      @include flex(column);
    }
  }
  //Dashboard section

  .dashboard {
    margin: 1rem;
    @include flex(column);
    &__text {
      width: 100%;
      padding: 0;
      text-align: center;
      @include flex(column, center);
    }
  }
  //Testimonials
  .testimonial {
    margin: 1rem;
  }
}
