.information {
  min-height: 90vh;
  font-family: $s-ff;
  margin: 4.5rem auto 1rem auto;
  max-width: 85%;
  @include flex(row, flex-start);
  .checkout-btn-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .information {
    max-width: 96%;
  }
}
