.desktop-navbar {
  height: 4rem;
  padding: 0 5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;

  @include flex(row, space-between);
  .logo {
    height: 100%;
    @include flex;
    cursor: pointer;
    &__image {
      height: 100%;
      width: 60px;
      @include flex;
    }
    &__text {
      margin-left: 0.5em;
      font-family: $s-ff;
      font-weight: 800;
    }
  }
  ul {
    @include flex;
    li {
      margin-left: 1em;
      font-size: 1.1rem;
      position: relative;
      @include flex;
      &:hover {
        color: $purple;
      }
      .username {
        cursor: default;
      }
      .toggle-button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        @include flex;
        .toggle-icon {
          transform: translateY(3px);
        }
        p {
          margin-right: 0.5em;
          font-size: 1.1rem;
        }
      }
    }
    .divider-blue {
      height: 25px;
      width: 0;
      border-left: $dark-blue solid 2px;
    }
    .divider-white {
      @extend .divider-blue;
      border-left: $gray solid 2px;
    }
  }
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 50%;
  padding: 0.5em;
  transform: translateX(30%);
  border-radius: radius(small);
  background-color: $gray;
  // animation: dropdown-in 300ms ease-in-out;
  &__item {
    transition: background 300ms ease-in-out;
    a {
      border-radius: radius(small);
      color: $dark-blue;
      padding: 0.5em;
      width: 100%;
      display: block;
      cursor: pointer;
      &:hover {
        background-color: $light-gray-purple;
        color: $purple;
      }
    }
  }
}

@keyframes dropdown-in {
  from {
    opacity: 0;
    top: 20px;
  }

  to {
    opacity: 1;
    top: 30px;
  }
}

.phone-navbar {
  @extend .desktop-navbar;
  padding: 0 2em;
  display: none;
  .toggle-icon {
    font-size: 1.5rem;
  }
}

.colored-bg {
  background-color: $dark-blue;
}

.white-bg {
  background-color: $white;
}

.blue {
  color: $dark-blue;
}

.white {
  color: $gray;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  .desktop-navbar {
    display: none;
  }

  .phone-navbar {
    @include flex(row, space-between);
  }
  .dropdown {
    width: 400%;
    top: 35px;
    right: 50%;
    padding: 0.5em;
    transform: translateX(20%);
    border-radius: radius(small);
    background-color: $gray;
  }
}

@media only screen and (max-width: 400px) {
  .phone-navbar {
    padding: 0 1.2em;
  }
}
