nav {
  height: 4rem;
  padding: 0 5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  @include flex(row, space-between);
  .logo {
    height: 100%;
    @include flex;
    cursor: pointer;
    &__image {
      height: 100%;
      width: 60px;
      @include flex;
    }
    &__text {
      margin-left: 0.5em;
      font-family: $s-ff;
      font-weight: 800;
    }
  }
  ul {
    @include flex;
    li {
      margin-left: 1em;
      font-size: 1.1rem;
      font-family: $s-ff;
    }
  }
}

.color {
  background-color: $dark-blue;
}

.transparent {
  background: transparent;
}

.blue {
  color: $dark-blue;
}

.white {
  color: $gray;
}
