.partner-0 {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.partner-1 {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.partner-2 {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.partner-3 {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.partner-4 {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.partner-5 {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.partner-half-opacity {
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

// @keyframes fadeAnimation {
//   0% {
//     opacity: 0.5;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0.5;
//   }
// }
