.personal-dashboard {
  width: 100%;
  height: 130vh;
  padding: 10px 10px 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.3fr;
  grid-template-rows: 1.5fr repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  div {
    border-radius: radius(large);
  }
  &__header {
    grid-area: 1 / 1 / 3 / 5;
    background-color: red;
  }
  &__chart {
    grid-area: 3 / 1 / 6 / 3;
    background-color: green;
  }
  &__progress {
    grid-area: 3 / 3 / 6 / 4;
    background-color: pink;
  }
  &__to-do {
    grid-area: 3 / 4 / 4 / 5;
    background-color: blue;
  }
  &__in-progress {
    grid-area: 4 / 4 / 5 / 5;
    background-color: orange;
  }
  &__done {
    grid-area: 5 / 4 / 6 / 5;
    background-color: lime;
  }
  &__task {
    grid-area: 6 / 1 / 9 / 3;
    background-color: gold;
  }
  &__sub-task {
    grid-area: 6 / 3 / 9 / 5;
    background-color: darkblue;
  }
  &__account {
    grid-area: 1 / 5 / 9 / 6;
    background-color: cyan;
  }
}
