.phone-navbar {
  display: none;
  height: 4rem;
  padding: 0 5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  @include flex(row, space-between);
  .logo {
    height: 100%;
    @include flex;
    cursor: pointer;
    &__image {
      height: 100%;
      width: 60px;
      @include flex;
    }
    &__text {
      margin-left: 0.5em;
      font-family: $s-ff;
      font-weight: 800;
    }
  }

  ul {
    @include flex;
    li {
      margin-left: 1em;
      font-size: 1.1rem;
      position: relative;
      @include flex;
      .username {
        cursor: default;
      }
      .toggle-button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        @include flex;
        .toggle-icon {
          transform: translateY(3px);
          font-size: 1.5rem;
        }
        p {
          margin-right: 0.5em;
          font-size: 1.1rem;
        }
      }

      .dropdown {
        background-color: red;
        position: absolute;
        width: 200%;
        top: 30px;
        right: 50%;
        padding: 0.5em;
        transform: translateX(30%);
        border-radius: radius(small);
        background-color: $gray;
        &__item {
          transition: background 300ms ease-in-out;
          a {
            border-radius: radius(small);
            color: $dark-blue;
            padding: 0.5em;
            width: 100%;
            display: block;
            cursor: pointer;
            &:hover {
              background-color: $light-gray-purple;
            }
          }
        }
      }
    }
    .divider-blue {
      height: 25px;
      width: 0;
      border-left: $dark-blue solid 2px;
    }
    .divider-white {
      @extend .divider-blue;
      border-left: $gray solid 2px;
    }
  }
}
.colored-bg {
  background-color: $dark-blue;
}

.white-bg {
  background-color: $white;
}

.blue {
  color: $dark-blue;
}

.white {
  color: $gray;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  .phone-navbar {
    display: flex;
  }
}
