.workspaces {
  font-family: $s-ff;
  margin: 5rem auto 1rem auto;
  max-width: 85%;
  &-header {
    @include flex(row, space-between);
    margin-bottom: 1rem;
  }
  h1 {
    font-size: $fs-l;
  }
  button {
    font-size: $fs-s;
  }
  .table {
    width: 100%;
    &__header {
      background-color: $gray-purple;
      height: 45px;
      width: 100%;
      border-radius: radius(medium);
      padding: 0 1em;
      color: $white;
      @include flex(row, flex-start, center);
      .number {
        width: 10%;
      }
      .name,
      .type,
      .owner-name {
        width: 30%;
      }
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .owner {
      @include flex;
      margin-top: 6px;
    }
    tr {
      text-align: center;
      margin-top: 10px;
      height: 45px;
      border-radius: 10px;
      background-color: $gray;
      cursor: pointer;
      &:hover {
        background-color: $light-gray-purple;
      }
    }
    thead tr {
      cursor: default;
      background-color: $gray-purple;
      color: white;
      &:hover {
        background-color: $gray-purple;
      }
    }
  }
}

@media (max-width: 768px) {
  .workspaces {
    max-width: 96%;
  }
}

@media (max-width: 500px) {
  .workspaces {
    &-header {
      @include flex(column, space-between);
    }
    h1 {
      margin-bottom: 0.8rem;
    }
  }
}
