.workspace {
  font-family: $s-ff;
  padding-left: 100px;
  width: 100%;
}

@import "./workspace/board";

.workspace-error {
  text-align: center;
  min-height: 100vh;
  @include flex(column);
  h1 {
    color: $red;
  }
  h2 {
    margin-bottom: 1.2rem;
    margin-top: 1.8rem;
  }
  button {
    @include button;
    color: $light-gray;
    background-color: $purple;
  }
}

@media (max-width: 768px) {
  .workspace {
    max-width: 96%;
  }
}
