//* Global Styling

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

//* Helpers

@import "./helpers/colors";
@import "./helpers/fonts";
@import "./helpers/tools";

//* Pages

@import "./features";
@import "./pricing";
@import "./signin";
@import "./signup";

//* Components

@import "./navbar";
@import "./gear";
