//* Global Styling

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
}

//* Helpers

@import "./helpers/colors";
@import "./helpers/fonts";
@import "./helpers/tools";

//* Pages

@import "./home";
@import "./features";
@import "./pricing";
@import "./signin";
@import "./new-workspace";
@import "./workspaces";
@import "./workspace";
@import "./information";
@import "./dashboard/dashboard";

//* Components

@import "./navbar";
@import "./sidebar";
@import "./footer";
@import "./form";
@import "./animations/loading-animation";
@import "./setting/profile";

// button
.button-primary {
  font-family: $s-ff;
  font-size: $fs-m;
  color: $light-gray;
  background-color: $purple;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $gray-purple;
    transition: background-color 0.3s;
  }
  &:focus {
    box-shadow: 0 0 1px 3px $purple;
  }
}
.button-secondary {
  font-family: $s-ff;
  font-size: medium;
  color: $gray-purple;
  background-color: $gray;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $gray-purple;
    transition: 0.3s;
  }
}

.scroll-to-top {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 200;
  &__button {
    height: 100%;
    width: 100%;
    background-color: $purple;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: radius(medium);
    transition: all 500ms ease-in-out;
  }
}

// alert
@mixin alert {
  padding: 5px;
  font-size: 16.5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.alert-error {
  @include alert;
  color: #ff0000;
  background-color: #ffd4d4;
}

.in-progress {
  @include alert;
  color: #7c7000;
  background-color: #fffec8;
}

.done {
  @include alert;
  color: #27ae60;
  background-color: rgba(39, 174, 96, 0.25);
}

//Homepage design

.toast {
  font-family: $s-ff;
}
