//* Global Styling

* {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
}

//* Helpers

@import "./helpers/colors";
@import "./helpers/fonts";
@import "./helpers/tools";

//* Pages

@import "./home";
@import "./features";
@import "./pricing";
@import "./signin";
@import "./new-workspace";
@import "./workspaces";
@import "./workspace";

//* Components

@import "./navbar";
@import "./gear";
@import "./footer";

// button
.button-primary {
  font-family: $s-ff;
  color: $light-gray;
  background-color: $purple;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all ease-in-out 200ms;
  border: none;
  &:focus {
    box-shadow: 0 0 0 2px #2b2bff;
  }
  &:hover {
    background-color: $gray-purple;
  }
}

// error alert
.alert-error {
  padding: 8px;
  color: #ff0000;
  background-color: #ffd4d4;
  font-size: 17px;
  margin-bottom: 10px;
  border-radius: 5px;
}

//Homepage design

.toast {
  font-family: $s-ff;
}
